body{
background-color: rgb(108, 146, 228);

}
h1{
    color: aqua;

}
P{
text-align: left;

}
.container{
    width: 300;
    height: 500;
    color: rgb(44, 13, 73);
    background-color: rgb(8, 51, 143);
}